* {
	box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

#title {
  width: 20em;
  padding: 10px;
  color: white;
  background-color: rgb(130, 194, 130);
  text-align: center;
}

ul {
  color: orange;
  font-weight: bold;
}
